@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');



h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}



.gradient {
  height: 100vw;
  background: rgb(10, 22, 48); /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, rgb(128, 231, 238), rgb(10, 22, 48)); /* Standard syntax (must be last) */
}

.card-tile {
  border-radius: 25;
  border: none;
  background-color: whitesmoke;
  opacity: 0.6;
}

.darkgray {
  background-color: #3E3E3E;
}

.whiteTxt {
  color: white;
}