@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:200,400');

html{
  min-height: 100%;
  position:relative;
}
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 200;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.teal {
  color: #15E6D6;
}


.win{
  color: #15E6D6;
  font-size: 60px;
  text-align:center;
  font-weight:bold;
}

.loss{
  color: red;
  font-size:60px;
  text-align:center;
  font-weight:bold;
}

.gradient {
  height: 100vw;
  background: rgb(10, 22, 48); /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, rgb(12, 129, 120), rgb(10, 22, 48)); /* Standard syntax (must be last) */
}

.card-tile {
  border-radius: 25px;
  border: none;
  background-color: rgba(245, 245, 245, 0.6);
}

.card-tile-news {
  border-radius: 0 0 25px 25px;
  border: none;
  background-color: rgba(245, 245, 245, 0.6);
}

.card-tile-img {
  border-radius: 25px 25px 0 0;
}

.darkgray {
  background-color: rgba(62, 62, 62, 0.7);
}

.whiteTxt {
  color: white;
}

.star-right {
  float: right;
}

.underline-border {
  border-bottom: 1px solid #15E6D6;
}

.pillbutton {
  background: white;
  border: 1px solid rgb(10, 22, 48);
  border-radius: 25px;
}

.pillbutton > p {
  margin: auto;
  padding: auto;
}